MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/docteur-permis?retryWrites=true&w=majority
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxx
FRONTEND_URL=https://docteurpermis.vercel.app
PORT=3001
